'.source.ebhan':
   'DEF … AS':
      'prefix': 'DEF'
      'body': 'DEF ${1:VAR} AS "${2:VAL}"'
   'IF':
      'prefix': 'IF'
      'body': 'IF ${1:true} THEN\n\t$2\nENDIF'
   'IF … ELSE':
      'prefix': 'IFE'
      'body': 'IF ${1:true} THEN\n\t$2\nELSE THEN\n\t$3\nENDIF'
   'ELSE':
      'prefix': 'ELSE'
      'body': 'ELSE THEN\n\t$1\n'
   'ELIF':
      'prefix': 'ELIF'
      'body': 'ELIF ${1:true} THEN\n\t$2\n'
   'FOR':
      'prefix': 'FOR'
      'body': 'FOR <${1:0},${2:10}> DO\n\t$3\nENDFOR'
   'SLEEP':
      'prefix': 'SLEEP'
      'body': 'SLEEP ${1:0.5}'
   'SWITCH':
      'prefix': 'SWITCH'
      'body': 'SWITCH %{${1:VAR}}\n\tCASE ${2:CASE}\n\t$3\n\tBREAK\nENDSWITCH'
