'scopeName': 'source.ebhan'
'name': 'EBHAN'
'fileTypes': [
   'ebh'
]
'patterns': [
   {
      'include': '#comment'
   }
   {
      'include': '#strings'
   }
   {
      'include': '#string_escapes'
   }
   {
      'include': '#numbers'
   }
   {
      'include': '#operators'
   }
   {
      'include': '#entities'
   }
   {
      'include': '#constant_placeholder'
   }


   {
      'match': '(?<!\\.)\\bDEF(?!\\s*:)\\b'
      'name': 'storage.type.var.ebhan'
   }
   {
      'match': '(?<!\\.)\\b(IF|THEN|ELSE|ELIF|ENDIF|FOR|DO|ENDFOR)(?!\\s*:)\\b'
      'name': 'keyword.control.ebhan'
   }
   {
      'match': ','
      'name': 'meta.delimiter.object.comma.ebhan'
   }
]
'repository':
   'comment':
      'patterns': [
         {
            'begin': '\\/\\*'
            'end': '\\*\\/'
            'name': 'comment.block.ebhan'
         }
         {
            'match': '\\#.*'
            'name': 'comment.line.ebhan'
         }
      ]
   'numbers':
      'patterns': [
         {
            'match': '''(?x)
               (?<!\\$)(?:
                  (?:\\b\\d+(\\.)\\d+[eE][+-]?\\d+\\b)| # 1.1E+3
                  (?:\\b\\d+(\\.)[eE][+-]?\\d+\\b)|       # 1.E+3
                  (?:\\B(\\.)\\d+[eE][+-]?\\d+\\b)|       # .1E+3
                  (?:\\b\\d+[eE][+-]?\\d+\\b)|            # 1E+3
                  (?:\\b\\d+(\\.)\\d+\\b)|                # 1.1
                  (?:\\b\\d+(\\.)\\B)|                      # 1.
                  (?:\\B(\\.)\\d+\\b)|                      # .1
                  (?:\\b\\d+\\b(?!\\.))                     # 1
                  )(?!\\$)
            '''
            'captures':
               '0':
                  'name': 'constant.numeric.decimal.ebhan'
               '1':
                  'name': 'meta.delimiter.decimal.period.ebhan'
               '2':
                  'name': 'meta.delimiter.decimal.period.ebhan'
               '3':
                  'name': 'meta.delimiter.decimal.period.ebhan'
               '4':
                  'name': 'meta.delimiter.decimal.period.ebhan'
               '5':
                  'name': 'meta.delimiter.decimal.period.ebhan'
               '6':
                  'name': 'meta.delimiter.decimal.period.ebhan'
         }
      ]
   'strings':
      'patterns': [
         {
            'begin': '"'
            'beginCaptures':
               '0':
                  'name': 'punctuation.definition.string.begin.ebhan'
            'end': '"'
            'endCaptures':
               '0':
                  'name': 'punctuation.definition.string.end.ebhan'
            'patterns': [
               {
                  'include': '#string_escapes'
               }
               {
                  'include': '#constant_placeholder'
               }
            ]
            'name': 'string.quoted.double.ebhan'
         }
      ]
   'constant_placeholder':
      'patterns': [
         {
            'match': '%{[A-z]+}'
            'name': 'constant.other.placeholder.ebhan'
         }
      ]
   'string_escapes':
      'patterns': [
         {
            'match': '\\\\(\\|a|b|f|n|r|t|v)'
            'name': 'constant.character.escape.ebhan'
         }
         {
            'match': '\\\\u(?:[A-Fa-f0-9]{4}|({)([A-Fa-f0-9]+)(}))'
            'name': 'constant.character.escape.ebhan'
         }
    ]
   'operators':
      'patterns': [
         {
            'match': '(?:\\s)(===|>=>|<=>|>>>|<<<|!==|\\[=\\])(?=\\s)'
            'name': 'keyword.operator.comparison.ebhan'
         }
         {
            'match': '\\+|\\-|\\*|\\*\\*|/|//|%'
            'name': 'keyword.operator.arithmetic.ebhan'
         }
         {
            'match': '(?:\\b)AS(?=\\b)'
            'name': 'keyword.operator.assignment.ebhan'
         }
      ]
   'entities':
      'patterns': [
         {
            'match': '(?:\\b)(PRINT|INPUT|VERBOSE|EXIT)(?=\\b)'
            'name': 'entity.name.function.ebhan'
         }
         {
            'match': '(?:\\b)(STRING|INTEGER)(:)([A-z]*)'
            'captures':
               '1':
                  'name': 'entity.name.class.ebhan'
               '2':
                  'name': 'meta.delimiter.method.period.ebhan'
               '3':
                  'name': 'entity.name.function.ebhan'
         }
      ]
